<html layout:decorate="~{bank-account/layout.html}"
  th:with="title=${'Tài khoản của ' + account.customer.fullname.getFullname()}">
  <div layout:fragment="main">
      <div class="container">
          <table class="table table-bordered">
              <tr>
                  <th th:text="#{table.head.bank-account}"></th>
                  <td th:text="${account.id}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.bank-account.loan.amount}"></th>
                  <td th:text="${#numbers.formatDecimal(account.balance, account.balance.precision(), 'DEFAULT', account.balance.scale(), 'DEFAULT')}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.rate}"></th>
                  <td th:text="${account.getRatePercentValue()}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.bank-account.loan.current-amount}"></th>
                  <td th:text="${#numbers.formatDecimal(account.getCurrentPayingAmount(), account.getCurrentPayingAmount().precision(), 'DEFAULT', account.getCurrentPayingAmount().scale(), 'DEFAULT')}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.bank-account.currency}"></th>
                    <td th:text="${account.currency.name()}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.bank-account.loan.type}"></th>
                  <td th:text="${account.getType()}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.bank-account.created-at}"></th>
                  <td th:text="${#temporals.format(account.createdAt, 'dd-MM-yyyy')}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.bank-account.loan.next-pay-date}"></th>
                  <td th:text="${#temporals.format(account.getNextPayDate(), 'dd-MM-yyyy')}"></td>
              </tr>
              <tr>
                  <th th:text="#{table.head.bank-account.loan.account-responsibility}"></th>
                  <td th:text="${account.customer.fullname.getFullname}"></td>
              </tr>
          </table>
      </div>
  </div>
</html>
