<nav
  class="navbar navbar-expand-lg navbar-light bg-transparent pb-4"
  th:fragment="navbar"
>
  <div class="container">
    <a href="/" class="navbar-brand">Dmbank</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <div sec:authorize="isAuthenticated()">
              <li class="nav-item"><a th:href="@{/my-account}" class="nav-link">Tài khoản</a></li>
          </div>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/login" class="btn btn-primary">Đăng nhập</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/my-account}" class="nav-link" sec:authentication="username"></a></li>
      </ul>
    </div>
  </div>
</nav>
